<header id="header" class="alt">
	<div class="logotipe">
		<h2>ШтаниShкин</h2>
	</div>
	
	<nav id="nav">
		
		<ul>
			<li><a asp-controller="Products" asp-action="Index">Продукты</a></li>
			<li><a asp-controller="Sales" asp-action="Index">Продажи</a></li>
			<li><a href="elements.html">Elements</a></li>
			<li><a href="#">Sign Up</a></li>
			<li><a href="#">Log In</a></li>
		</ul>
		</nav>
</header>
<div class="header_space"></div>